<section class="section">
  <h1 class="title animate__animated animate__bounce">{{title}}</h1>

  <button class="btn" (click)="alterarTexto()">Alterar</button>

  <p class="alert" *ngIf="d.length == 0"><small>Sem tarefa no momento</small></p>
  <ul class="ul animate__animated  animate__flipInX"  *ngIf="mode == 'list'">
    <li *ngFor="let dream of dre">{{dream}}</li><br><br>

    <li *ngFor="let dr of d">{{dr.id}} {{dr.nome}}
    <button class="btn btnTarefa"   *ngIf="dr.done" (click)="markAsUndone(dr)">Refazer</button>
    <button class="btn btnTarefa" *ngIf="!dr.done" (click)="markAsdone(dr)">Concluir</button>
    <button class="btn btnTarefa" (click)="remove(dr)">Remover</button>
    </li>
  </ul>
  <br><br><br><br><br>


  <div id="modal animate__animated  animate__flipInX" *ngIf="mode=='add'" >
    <form [formGroup]="form">
      <fieldset>
        <label>Tarefa: </label>
        <input type="text" placeholder="Titulo da Tarefa" maxlength="60" formControlName="title">
        <button class="btn b1" [disabled]="form.invalid" (click)="add()">Salvar</button>
        <small class="alert a1" *ngIf="form.get('title')?.invalid && !form.get('title')?.pristine" >Este campo deve conter entre 3 e 60 caracteres</small>
      </fieldset>
    </form>
  </div>

  <div class="center">
    <button class="btn animate__animated  animate__flipInX" (click)="changeMode('add')" *ngIf="mode=='list'">
      NOVA TAREFA
    </button>
    <button class="btn animate__animated  animate__flipInX" (click)="changeMode('list')" *ngIf="mode=='add'">
      CANCELAR
    </button>
  </div>
</section>
